

<div class="row">
    <div class="col-lg-3">
        <nav>
            <ul>
              <li><a routerLink="/admin/Manage-doctor" >Manage Doctor</a></li>
              <li><a routerLink="/second-component" routerLinkActive="active">Second Component</a></li>
            </ul>
          </nav>
    </div>
    <div class="col-lg-9">
        sldkflsdfh sldfhsdf
        <router-outlet></router-outlet>
    </div>
</div>


<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
	<h1>
		Welcome to 
	</h1>


	<a [routerLink]="['Manage-doctor']">
		Products
    </a>
    <router-outlet></router-outlet>

</div>

<div>
	<div style="float:right">
		<router-outlet></router-outlet>
	</div>
	<div style="float:left">	
		<router-outlet name="sidebar"></router-outlet>
	</div>
</div>



    